//color
$color-red:#D0021B;
$color-orange:#F5A623;
$color-blue:#4A90E2;
$color-green:#7ED321;
$color-morelightgray:#F2F2F2;
$color-lightgray:#E1E1E1;
$color-gray:#C8C8C8;
$color-moregray:#757575;
$color-white:#FFFFFF;
$color-black:#000000;

//font
$font-size-family:HelveticaNeue-Bold;
$font-size-family2:Helvetica-Bold;
$font-size-family3:Helvetica;
$font-size-title:24px;
$font-size-subtitele:20px;
$font-size-subtitele2:16px;
$font-size-table:14px;
$font-size-remark:16px;
$font-size-placeholder:16px;


